<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <form role="search">
      <div>
        <input type="text" placeholder="Name"/>
        <input type="text" placeholder="Password"/>
        <button type="submit"</button>
      </div>
    </form>
  </body>
</html>
